/* ==========================
   BACKGROUND
========================== */

.background{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:100%;

    z-index:-2;

    background:
        radial-gradient(circle at top,#1E5EFF22 0%,transparent 35%),
        radial-gradient(circle at bottom,#FF2B2B18 0%,transparent 35%),
        linear-gradient(180deg,#05070D 0%,#090E16 100%);

}

/* طبقة علم العراق */

.background::after{

    content:"";

    position:absolute;

    inset:0;

    background-image:url("../assets/ui/iraq-flag.png");

    background-repeat:no-repeat;

    background-position:center;

    background-size:55%;

    opacity:.05;

    filter:grayscale(100%);

}
/* ==========================
   HERO
========================== */

#hero{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

}

.hero-content{

    max-width:850px;

}

.hero-content h1{

    font-size:64px;

    font-weight:900;

    line-height:1.1;

    margin-bottom:25px;

}

.hero-content p{

    color:var(--text-secondary);

    font-size:20px;

    line-height:1.8;

    margin-bottom:40px;

}

.hero-content button{

    padding:18px 45px;

    background:linear-gradient(
        135deg,
        var(--primary),
        var(--primary-light)
    );

    color:white;

    border-radius:999px;

    font-size:18px;

    font-weight:700;

    transition:.35s;

    box-shadow:0 0 35px rgba(30,94,255,.45);

}

.hero-content button:hover{

    transform:translateY(-5px);

    box-shadow:0 0 50px rgba(30,94,255,.75);

}
