:root{

    /* Primary */

    --primary:#1E5EFF;

    --primary-light:#3F7CFF;

    --primary-dark:#103D9A;

    /* Accent */

    --danger:#FF2B2B;

    --success:#00C853;

    /* Background */

    --background:#05070D;

    --surface:#11151D;

    --surface-light:#1A202B;

    /* Text */

    --text:#FFFFFF;

    --text-secondary:#B7C0CF;

    /* Border */

    --border:#232B38;

    /* Shadow */

    --shadow:0 0 25px rgba(30,94,255,.25);

    /* Radius */

    --radius:18px;

    /* Transition */

    --transition:.30s ease;

    /* Max Width */

    --container:1400px;

}
